story, blurb, poem {
	border-radius: 1em;
        padding: 1em;
	display: block;
        margin-left: auto;
        margin-right: auto;
	white-space: pre-line;
}
story {
	width: 700px;
}
poem, blurb { 
	text-indent: 0em;
	width: 300px;
}
h {
	margin-top: 1em;
	margin-bottom: 0.5em;
}
.old {
	white-space: normal;
}

story p {
    	text-indent: 3em;
}

a { 
	text-decoration: none;
	font-family: "Courier New";
	color: #FFFFF3;
}

.rainbow {
	background-image: linear-gradient(to left, #bae1ff, #baffc9, #ffffba, #ffdfba, #ffb3ba);   
	-webkit-background-clip: text;
  	color: transparent;
	font-weight: bold;
}
.light {
	color: #FFFFCC;
}

