p {
    	text-indent: 3em;
    	word-wrap: normal;
	line-height: 5 em;
    	width: 600px;
	
	border-radius: 1em;
        padding: 1em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
}

a { 
	color: #FFFFCC;
	line-height: 5 em;
	text-decoration: none;
	font-family: "Courier New";
}
