p {
    	text-indent: 3em;
    	word-wrap: normal;
	display: inline-block;
}

story {
	width: 700px;
	border-radius: 1em;
        padding: 1em;
	text-align: center;
}

a { 
	color: #FFFFCC;
	text-decoration: none;
	font-family: "Courier New";
}
